:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #4CAF50; 
    --second-color: #1B5E20; 
    --main-modal-color: rgba(76, 175, 80, 0.85); 
    --second-modal-color: rgba(27, 94, 32, 0.85); 
    --container-width: 1200px;
    --brown: #388E3C; 
    --orange: #8BC34A; 
    --light-gray: #C8E6C9; 
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right top, #a52a2a, #bb3f29, #ce5526, #e06c20, #ef8417, #f69610, #fba807, #ffba03, #ffc90e, #ffd81b, #ffe729, #fff637);
    height: 100%;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-image: radial-gradient(var(--orange) 2px, transparent 2px), radial-gradient(var(--orange) 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: white; 
}

header {
    top: 0;
    height: 75px;
    width: 100vw;
    background-image: linear-gradient(to right top, var(--main-color), var(--second-color), var(--brown), var(--orange), var(--light-gray));
    border-bottom: 4px solid var(--brown);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    z-index: 999;
}


#logo-menu{
    height: 60px;
    filter: drop-shadow(0px 0px 5px white);
}

#title{
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
}

#form-title{
    background-color: transparent;
    width: 35vw;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 15px var(--second-color);
    border-radius: 10px;
}

/* ********** formulario ********** */


/* Estilos para la sección de botones */
section {
    background-color: white;
    padding: 20px;
    text-align: center;
}

section h2 {
    color: #0a9396;
    margin-bottom: 15px;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: #333;
    background-color: #94d2bd;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: green;
}




/* Estilos para el título del formulario */

/* Estilos para las cajas de información */
#form-info, #form-ingles, #form-ingles2, #form-ingles3, #form-ingles4 {
    background-color: #e8f1f2;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#form-info h2, #form-ingles h3, #form-ingles2 h3, #form-ingles3 h3, #form-ingles4 h3 {
    color: #005f73;
}



#formulario {
    background-color: #e8f1f2;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#formulario h2 {
    color: #005f73;
    margin-bottom: 15px;
}

#formulario label {
    display: block;
    margin: 10px 0;
    color: #333;
}

#formulario input[type=email],
#formulario input[type=text] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario input[type=submit] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #94d2bd;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#formulario input[type=submit]:hover {
    background-color: green}


/* ********** imagenes ********** */

#imagen1,#imagen4, #imagen5{
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

#imagen6{
    width: 30%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

#imagen7{
    width: 30%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block;
}

#imagen2, #imagen3 {
    width: 40%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block; 
    margin-right: 5%; 
}



/* ********* footer ********* */
.footer{
    width: 100%;
    background-color: var(--second-color);
    height: fit-content;
    padding: 30px;

    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
}

.footer h3{
    color: white;
}

.footer p{
    color: var(--light-gray);
    width: 90%;
}

.footer-about{
    grid-area: 1 / 1 / 2 / 2;
}

.footer-creators{
    grid-area: 1 / 2 / 2 / 3;
}

.footer-links{
    grid-area: 1 / 3 / 2 / 4;
}

.footer-links a{
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: var(--light-gray);
}

.footer-links a:hover{
    color: var(--main-color);
}

.footer svg:hover{
    fill: var(--main-color);
}

.footer-copy{
    grid-area: 2 / 1 / 3 / 4;
}




  













